$color-System-Backgound: #f0f0f0;
$color-System-Border:#e2e3e4;
$color-System-Red: #e90f0f;
$color-System-Purple: #9747ff;
$color-System-LigthPurple: #c194f5;
$color-System-Blue: #0941f8;
$color-System-LigthBlue: #05c1fc;
$color-System-Green: #17a325;
$color-System-Black: #000000;
$color-System-Grey: #515151;
$color-System-LigthGrey: #c7c7c7;
$color-System-White:#ffffff;
$color-System-Yellow: #F2EA2CED;
