/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Row */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Columns */
.col {
  float: left;
  box-sizing: border-box;
}

/* Responsive Columns */
@media (min-width: 576px) {
  .col-sm {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    width: 100%;
  }
}